body{
    margin: 0;
    font-family: "poopins" sans-serif;
}
* {
    box-sizing: border-box;
}
/* utilities */
h1, h4,h5 {
    margin: 0;
}
.btn_dark {
    display:inline-block;
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 100px;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all 0.4s;
}

.btn_dark:hover{
    background-color: #fff;
    color: #f4511e;
}

.margin_top {
    margin-top: 15px;
}
menu.image__responsive {
    width: 25%;
    max-width: 100%;
    height: auto;
}

/* navbar */
.navbar ul{
    display: flex;
    justify-content: left;
   padding: 0;
   margin: 0;
   list-style-type: none;
   background-color: #212121;
}
.navbar ul li{
   display: inline-block;
}

.navbar li a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px 20px;
    font-size: 20px;
    color: #f4511e;
    letter-spacing: 2px;
}

/* Home section*/
.hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    background-image:linear-gradient( #f4511e,  #f4511e) ,url("img/menu.jpg");
    background-size:cover;
    background-blend-mode: multiply;
}
 .hero_text {
     color: #fff;
     text-align: center;
     text-transform: uppercase;
 }
.hero_section h1{
    font-size: 100px;
    font-weight: 500;
}
.hero_text p {
letter-spacing: 5px;
}

/* About section */
.about__section {
    padding: 70px;
        align-items: center;
        width: 100%;
        background-color: #f4511e;
    }
    .about__section h4{
        font-size: 100px;
        font-weight: 500;
        text-align: center;
        color:#fff;
    }
    .about__section h1 {
        color: #fff;
        text-align: center;
        padding: 20px;
    }
    .about__section p {
    letter-spacing: 2px;
    font-weight: 100;
    line-height: 36px;
    color: #fff;
    text-align: center;
    }
    .image__background {
        position: relative;
        z-index: 1;
    }
    .image__background::before {
        position: absolute;
        top: -30px;
        left: -30px;
        content: "";
        width: 25%;
        height: 25%;
        z-index: -1;
        background-color: #000;
    }
    .image__background img {
        box-shadow: 0px 0px  10px 1px rgba(0, 0, 0, 0.4);
    }

    .items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 30px 20px;
        grid-column-gap: 20px;
        grid-row-gap: 30px;
    }
    .item img{
        height: 100%;
        height: 300px;
        object-fit:cover ;
        cursor: pointer;
        transition: 0.2s ease;
    }
    .item img:hover{
        transform: scale(1.04);
    }
    .item h4{
        padding: 5px;
        text-align: center;
    }
    .item button{
        padding: 5px 30px;
        border: 0;
        outline: none;
        background-color: green;
        color: white;
        cursor: pointer;
        border-radius: 4px;
        font-size: 20px;
        display: block;
        margin: 0 auto;
        transition: 0.2s all;
    }
    .item button:hover{
        transform: scale(1.08);
    }
    @media screen and (max-width:1000px) {
        .items{
            grid-template-columns:repeat(2, 1fr);
        }
    }
    @media screen and (max-width:768px) {
        .items{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    body{
        margin: 0;
        padding: 0;
        background: url(menu.jpg);
        background-size: cover;
    }
    .contact-form{
        width: 50%;
        max-width: 500px;
        background: #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 30px 40px;
        box-sizing: border-box;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 0 20px #000000b3;
        font-family: "Montserrat",sans-serif;
    }
    .contact-form h1{
        margin-top: 0;
        font-weight: 100;
    }
    .txtb{
        border: 1px solid gray;
        margin: 8px 0;
        padding: 12px 18px;
        border-radius: 8px;
    }
.text label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.txtb input,.txtb textarea{
    width: 100%;
    border: none;
    background-color: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.btn{
    display: inline-block;
    background: #9b59b6;
    padding: 24px 0;
}